BODY
{
SCROLLBAR-FACE-COLOR: #7CC242; 
SCROLLBAR-HIGHLIGHT-COLOR: #ccc;
SCROLLBAR-SHADOW-COLOR: #fff;
SCROLLBAR-3DLIGHT-COLOR: #fff;
SCROLLBAR-ARROW-COLOR: #ffffff; 
SCROLLBAR-TRACK-COLOR: #fff;
SCROLLBAR-DARKSHADOW-COLOR: #ccc;
FONT-SIZE: 8px; 
MARGIN: 0px; 
VERTICAL-ALIGN: top;  
COLOR: #454645; 
letter-spacing: 1px;     
display: block; 
FONT-FAMILY: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif;  
TEXT-ALIGN: left;
background:url('images/nback.jpg');
align:center;
}

fieldset
{
    BORDER-RIGHT: #7CC242 1px solid;
    BORDER-TOP: #7CC242 1px solid;
    BORDER-LEFT: #7CC242 1px solid;
    BORDER-BOTTOM: #7CC242 1px solid;
    FONT-WEIGHT: bolder;
    MARGIN: 2px;
    COLOR: #7CC242;
	font-size:12px
    FONT-FAMILY: verdana, 'Times New Roman', Tahoma;
}

.tdbbotttom
{
 border-bottom: 1px solid #a6bade;
}
.tdBorder
{
 FONT-SIZE: 11px;
 COLOR: #6C6C6C;
 FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
 TEXT-DECORATION: none;
 font-weight:bold;

 border-bottom: 1px solid #ddd;
 border-top: 1px solid #ddd;
}
.tdBorder a 
{
 FONT-SIZE: 11px;
 COLOR: #6C6C6C;
 FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
 TEXT-DECORATION: none;
 font-weight:bold;
}

.tdBorder a:hover 
{
 FONT-SIZE: 11px;
 COLOR: #4C4C4C;
 FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
 TEXT-DECORATION: none;
 font-weight:bold;
}
.tdBorder a:visited 
{
 FONT-SIZE: 11px;
 COLOR: #6C6C6C;
 FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
 TEXT-DECORATION: none;
 font-weight:bold;
}
.greenlist {color:#9FC302;margin-left:-22px;}
.tableBrder
{
  BORDER-RIGHT: #B7B6B6 2px solid;
  BORDER-TOP:  #B7B6B6 0px solid;
  BORDER-LEFT: #B7B6B6 0px solid;
  BORDER-BOTTOM: #B7B6B6 2px solid;
  FONT-SIZE: 12px;
  COLOR: #777777;
  FONT-FAMILY: Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
  TEXT-DECORATION: none;
  Font-weight:normal;
}
.imgBrdr
{
  BORDER-RIGHT: #5b3d1e 5px solid;
  BORDER-TOP: #5b3d1e 5px solid;
  BORDER-LEFT: #5b3d1e 5px solid;
  BORDER-BOTTOM: #5b3d1e 5px solid;
}
.imgBrdrThin
{
  BORDER-RIGHT: #e1cc8f 2px solid;
  BORDER-TOP: #e1cc8f 2px solid;
  BORDER-LEFT: #e1cc8f 2px solid;
  BORDER-BOTTOM: #e1cc8f 2px solid;
}
a:visited
{
  color:#e7ae09;
}
a:hover
{
  color:#ff7500;
}

.color
{
 color:#ffff00;
}

.bigTd
{
    FONT-SIZE: 13px;
    COLOR: #545B40;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}
.bbigTd
{
    FONT-SIZE: 13px;
    COLOR: #545B40;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:bold;
}

.bigTd a
{
    FONT-SIZE: 13px;
    COLOR: #545B40;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
	font-weight:normal;
}

.bigTd a:hover
{
    FONT-SIZE: 13px;
    COLOR: #B73913;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}

.bigTd a:visited
{
    FONT-SIZE: 13px;
    COLOR: #B73913;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
	font-weight:normal;
}

.wblink
{
   FONT-SIZE: 11px;
    COLOR: #89ADD9;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
	font-weight:normal;
	align:justify;
}

.wblink:visited
{
   FONT-SIZE: 11px;
    COLOR: #89ADD9;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
	font-weight:normal;
	align:justify;
}
.wblink:hover
{
   FONT-SIZE: 11px;
    COLOR: #FF8000;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
	font-weight:normal;
	align:justify;
}


.text
{
    FONT-SIZE: 11px	;
    COLOR: #676868;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
	background:#fff;
	text-align:justify;
}

.tdWhite
{
    FONT-SIZE: 11px;
    COLOR: #fff;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}
.text a
{
    FONT-SIZE: 11px;
    COLOR: #00703C;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}

.text a:hover
{
    FONT-SIZE: 11px;
    COLOR: #EDA315;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}
.bltext
{
    FONT-SIZE: 10pt;
    COLOR: #3C81B9;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}

.text a:visited
{
    FONT-SIZE: 11px;
    COLOR: #7CC242;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}

p
{
    FONT-SIZE: 11px;
    COLOR: #222;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}

.gText
{
    FONT-SIZE: 11px;
    COLOR: #187407;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}
.bgText
{
    FONT-SIZE: 11px;
    COLOR: #688F70;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:bold;
}

.bwText
{
    FONT-SIZE: 10px;
    COLOR: #eee;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:bold;
}

.bText
{
    FONT-SIZE: 11px;
    COLOR: #00703C;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:bold;
}

.rbText
{
FONT-SIZE: 11px;
    COLOR: #B73913;
    FONT-FAMILY:  Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:bold;

}
.copright
{
    FONT-SIZE: 11px;
    COLOR: #888;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}

.entextgreen
{
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    COLOR: #4E8133;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}
.entextgreen a:link
{
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    COLOR: #747727;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
	font-weight:normal;
}
.entextgreen a:hover
{
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    COLOR: #ff7500;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
	font-weight:normal;
}
.entextgreen a:visted
{
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    COLOR: #e7ae09;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
	font-weight:normal;
}

.entext
{
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    COLOR: #777777;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}
.entext a:hover
{
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    COLOR: #ff7500;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
.entext a:link
{
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    COLOR: #82AA31;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}
.entext a:visited
{
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    COLOR: green;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}

.enorange
{
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    COLOR: #82AA31;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Helvetica, Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:bold;
}


.more
{
 text-decoration:underline; 
 FONT-SIZE: 11px;
 COLOR: #99673C;
 FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-weight: normal;
}
.more a:link
{
 text-decoration:underline; 
 FONT-SIZE: 11px;
 COLOR: #99673C;
 FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-weight: normal;
}
.more a:hover
{
 text-decoration:underline; 
 FONT-SIZE: 11px;
 COLOR: #A1AE52;
 FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-weight: normal;
}
.more a:visited
{
 text-decoration:underline; 
 FONT-SIZE: 11px;
 COLOR: #717171;
 FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-weight: normal;
}

.bigHeader
{
 FONT-SIZE: 11px;
 COLOR: #ffffff;
 FONT-FAMILY:  Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
 FONT-WEIGHT: bold;
}

.whiteHeader
{
 FONT-SIZE: 18px;
 COLOR: #ffffff;
 FONT-FAMILY:  Verdana,Tahoma,  Geneva, Arial, Helvetica, sans-serif;
 FONT-WEIGHT: 500;
}


.TD
{
    TEXT-DECORATION: none
}
.IMG
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    TEXT-DECORATION: none
}
.FONT
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10px;
    BORDER-LEFT: medium none;
    COLOR: #c4c4d3;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}
.myLink
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 11px;
    BORDER-LEFT: medium none;
    COLOR: #ffcc00;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}

.footer
{
    FONT-SIZE: 11px;
    COLOR: #FFFFFF;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
.footer a
{
    FONT-SIZE: 11px;
    COLOR: #fEfEfE;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
.footer a:hover
{
    FONT-SIZE: 11px;
    COLOR: #FF8000;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}
.footer a:visited
{
    FONT-SIZE: 11px;
    COLOR: #fff;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}

.footerPower
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 11px;
    BORDER-LEFT: medium none;
    COLOR: #747727;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
.footerPower a
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 11px;
    BORDER-LEFT: medium none;
    COLOR: #747727;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}


input
{
    BORDER-RIGHT: 1px solid #7CC242;
    BORDER-LEFT: 1px solid #A30046;
    BORDER-BOTTOM: 1px solid #A30046;
    BORDER-TOP: 1px solid #7CC242;
    FONT-WEIGHT: normal;
    font-family: tahoma;
    FONT-SIZE: 11px;    
    MARGIN: 0px;
    COLOR: #A30046;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #ffffff; 
}
.button
{
    BORDER-RIGHT: 688F70 1px solid;
    BORDER-TOP: 688F70 1px solid;
    FONT-WEIGHT: bolder;
    MARGIN: 0px;
    BORDER-LEFT: 688F70 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 688F70 1px solid;
    FONT-FAMILY: 'Times New Roman', Tahoma;
	}
SELECT
{
    BORDER-RIGHT: 1px solid #7CC242;
    BORDER-LEFT: 1px solid #A30046;
    BORDER-BOTTOM: 1px solid #A30046;
    BORDER-TOP: 1px solid #7CC242;
    FONT-WEIGHT: 500;
	FONT-SZIE: 14px;
    COLOR: #A30046;
    FONT-FAMILY: Tahoma, 'Times New Roman', Verdana, Geneva, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;	
}
.errMsg
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 12px;
    COLOR: #cc2c10;
    FONT-FAMILY: Tahoma, Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
}
.headerOrange
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #ff7500;
    FONT-FAMILY: times,Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}


.headerwhite
{
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;
    FONT-FAMILY: Helvetica, Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
/*	Filter: DropShadow(Color=#555555, OffX=3, OffY=3, Positive=1);*/
}


textarea
{
    FONT-WEIGHT: normal;
    font-family: tahoma;
    MARGIN: 0px;
    BORDER-RIGHT: 1px solid #9DB225;
    BORDER-TOP: 1px solid #9DB225;
    BORDER-LEFT: 1px solid #9DB225;
    BORDER-BOTTOM: 1px solid #9DB225;
    COLOR: #cf2846;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #fff; 
}

.button
{
    BORDER-RIGHT: orange 1px solid;
    BORDER-TOP: orange 1px solid;
    FONT-WEIGHT: bolder;
    MARGIN: 0px;
    BORDER-LEFT: orange 1px solid;
    COLOR: black;
    BORDER-BOTTOM: orange 1px solid;
    FONT-FAMILY: 'Times New Roman', Tahoma;
	background:url('images/viss_48.gif');
}
tbody {
		
}
table {
	FONT-SIZE: 11px;
	COLOR:red;
	FONT-FAMILY: Tahoma, Verdana, Geneva, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: normal;	
}